<div class="homepage-slider">
  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><img src="http://kenwheeler.github.io/slick/img/fonz2.png">
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>your content</p>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><img src="http://kenwheeler.github.io/slick/img/fonz2.png">
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>your content</p>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><img src="http://kenwheeler.github.io/slick/img/fonz2.png">
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>your content</p>
      </div>
    </div>
  </div>
</div>