body {
  font-family: "Roboto",Helvetica,sans-serif;
  color: #DB5A6B;
  background-color: #FFF9FC;
}

.header {
  font-family: "Dancing Script",Helvetica,sans-serif;
  font-style:italic;
}

.header p {
  margin-top: 10px;
}

.header h1 {
  font-size: 30px;
  font-weight: 900;
}

.header h1 em {
  margin-left: 50px;
}

.navbar-default {
  background-color: transparent;
  border: none;
  font-family: "Dancing Script",Helvetica,sans-serif;
}

.navbar-default a {
  font-size: 24px;
  color: #DB5A6B !important;
}

.navbar-nav {
  border: 1px solid #DB5A6B;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
  color: #fff !important;
  background-color: #DB5A6B !important;
}

.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover {
  color: #fff !important;
  background-color: #DB5A6B !important;
}

@media (max-width:767px){
  .header h1 {
    margin-left: -10px;
  }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}